@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

#bottom-screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bulb {
  border-radius: 50%;
  box-shadow: 1em 1em 0.9em -0.1em rgba(0, 0, 0, 0.3);
  background-color:rgb(156, 156, 156);

}
.button {
  background-color: darkslategrey;
  color: antiquewhite;
  box-shadow: 1em 0.5em 0.9em -0.1em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

#channel-container {
  height: 20%;
  width: 33%;
}
#chasis-tv {
  background-color: grey;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#circle {
  background-color: antiquewhite;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}
#container {
  background-color: rgba(226, 226, 226, 1);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
}
#date {
  color: brown;
}
#date-container {
  height: 20%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.off {
  background-color: rgb(8, 3, 4);
  background-repeat: no-repeat;
  background-size: cover;
}
.on {
  background-color: greenyellow;
}
.laser {
  background-color: rgb(255, 78, 47);
}

#logo {
  height: 1.7em;
  width: auto;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.on-off {
  width: 0.8em;
  height: 0.8em;
}
#remote-power-button{
  background-color: brown;
}
#remote {
  width: 60%;
  height: 70%;
  background-color: grey;
  border: 2em solid grey;
  border-radius: 1em;
  box-shadow: 1em 0.5em 0.9em -0.1em rgba(0, 0, 0, 0.5);
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

#remote-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.screen-border {
  height: 2em;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#television-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tv-on-light {
  height: 2em;
  width: 2em;
}

#tv-power-button {
  background-color: rgb(89, 85, 92);
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  #remote {
    width: 20%;
    height: 70%;
    grid-gap: 0.3em;
    border: 1.5em solid grey;
  }
  #date {
    font-size: 0.4em;
  }
}
